<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sqlite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
     <ion-input
     label="Nome"
     type="text"
     [(ngModel)]="newUserName"
     placeholder="Nome"
     fill="outline"
     labelPlacement="floating"
     >
     </ion-input>
     <ion-button
     (click)="createUser()"
     color="success"
     fill="outline"
     slot="end"

     >
     <ion-icon name="add"></ion-icon>
     </ion-button>
    </ion-item>
  </ion-list>
<ion-item *ngFor="let user of usersSignal()">
  <ion-checkbox
   slot="start"
   [(ngModel)]="user.active"
   (ionChange)="updateUser(user)">
  </ion-checkbox>
  <ion-label [style.text-decoration]="user.active ? 'line-through' : 'none'">{{user.name}}</ion-label>
  <ion-button
  slot="end"
  (click)="deleteUser(user)"
  color="danger"
  fill="clear">
    <ion-icon name="trash" slot="icon-only"></ion-icon>
  </ion-button>
</ion-item>

</ion-content>
